*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    width: 100%;
    height: 100%;
    background: #fff;
    box-sizing: border-box;
    padding: 20px;
}

header{
    height: 50px;
    text-align: center;
    border-bottom: 3px solid #a10404;
    color: #a10404;
    font-size: 16px;
    line-height: 15px;
}
main{
    border: 1px solid #a10404;
    border-radius: 5px;
    text-align: center;
    height: 275px;
    width: 45%;
    margin-top: 3%;
    margin: 0 auto;
}

.kotak{
    text-align: center;
    height: 50px;
    background-color: #a10404;
    line-height: 22px;
}

h3{
    font-size: 20px;
    padding-top: 10px;
    color: #fff;
}

form{
    padding: 2%;
    margin-bottom: 100px;
    color: #fff;
    display: block;
    width: 100%;
    border: none;
    line-height: 12px;
}

input[type="text"]{
    width: 100%;
    height: 50px;
    border-radius: 3px;
    margin: 0px;
    border: 1px solid #ced4da;
    font-size: 15px;
    padding-left: 5px;
}

input[type="submit"]{
    width: 100%;
    background-color: #a10404;
    border: none;
    height: 35px;
    border-radius: 3px;
    font-size: 16px;
    color: #fff;
}

.hasil{
     font-size: 25px;
     color: #a10404;
}

footer{
    position: fixed;
    text-align: center;
    height: 50px;
    bottom: 0%;
    padding-top: 12px;
    width: 100%;
    background: #a10404;
    color: white;
}