body{
    margin: 0;
    padding: 0;
}

/* HEADER */
nav{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5%;
    background-color: #000;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 2);
}
nav a{
    text-decoration: none;
}
nav ul{
    list-style: none;
    display: flex;
}
nav ul li a{
    margin: 10px;
    padding: 5px 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    border-radius: 10px;
    transition: 0.3s;
}
nav ul li a:hover{
    background: #5e5e5e;
}
.title{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    font-size: 24px;
}
section {
	width: 100%;
	height: 60vh;
	position: relative;
}
.greeting {
	position: absolute;
	left: 18%;
	top: 50%;
	transform: translate(-13%, -42%);
}
.greeting p {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
	color: #1a1a1a;
	font-size: 30px;
	margin: 45px 30px 25px;
}
.logo-uad {
	height: 150px;
	position: absolute;
	left: 65%;
	top: 40%;
}

/* MAIN */
main {
    margin: auto;
    margin-top: 80px;
    width: 90%;
    height: 400px;
}
.profile {
	width: 80%;
	height: 330px;
	background: #ffffff;
	border-radius: 20px;
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
	display: flex;
	margin: auto;
	justify-content: space-evenly;
	align-items: center;
}
.profile img {
	height: 250px;
}
.deskripsi {
	width: 500px;
}

/* FOOTER */
footer{
    width: 100%;
    height: 45px;
    bottom: 0%;
    padding-top: 12px;
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 2);
    position: fixed;
    text-align: center;
    background: #000;
    color: #fff;
}

/* SIGN UP */
.header nav{
    box-shadow: 7px 7px 5px #242424;
}

.bg{
    background: url("./images/xy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000;
}
.form{
    background: #000;
    border-radius: 12px;
    box-shadow: 5px 5px 10px #242424, 
                -5px -5px 10px #242424;
    width: 30%;
    height:75%;
    margin: auto;
    margin-top: 50px;
}
.form h2{
    color: #fff;
    text-align: center;
    font-size: 25px;
}
.form table{
    color: #fff;
}
.form input[type="text"]{
    width: 100%;
    color: #fff;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    background: transparent;
    outline: none;
    font-size: 16px;
}
.form1 input[type="submit"]{
    text-align: center;
    border: none;
    width: 100%;
    height: 30px;
    border-radius: 3px;
    background: #fff;
    color: #000;
}
.form1{
    width: 70%;
}
.profile input[type="submit"], .profile input[type="reset"]{
    border: none;
    width: 40%;
    height: 25px;
    border-radius: 3px;
    background: #000;
    color: #fff;
}
.profile form input[type="text"]{
    width: 100%;
    color: rgb(0, 0, 0);
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    background: transparent;
    outline: none;
    font-size: 16px;
}
.atr{
	width: 400px;
}
.lihat{
    width: 100%;
	margin-top: 80px;
	font-size: 20px;
    display: flex;
}
.form input[type="submit"]{
    text-align: center;
    border: none;
    width: 100%;
    height: 30px;
    border-radius: 3px;
    background: #fff;
    color: #000;
}