body {
    background-color: #393e46;
}
.kotak {
    width: 100%;
}
.header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #dbe2ef;
    height: 50px;
    text-align: center;
    font-size: 25px;
    line-height: 15px;
    font-weight: bold;
}
.main {
    text-align: left;
    font-size: 24px;
    color: white;
    background-color: #222831;
    height: 540px;
}
.footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    background-color: #dbe2ef;
    height: 50px;
    line-height: 9px;
}
.table {
    font-weight: bold;
}