body {
	background-color: #f6f5f5ea;
	margin: 0px;
	padding: 0px;
}
section {
	width: 100%;
	height: 95vh;
	background-image: url("../Gambar/bgg.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

/* HEADER */
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	background-color: #000;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 2);
	padding: 0px 5%;
}
nav a {
	text-decoration: none;
}
nav ul {
  list-style: none;
	display: flex;
}
nav ul li a {
	margin: 10px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	border-radius: 10px;
	transition: 0.3s;
	padding: 5px 18px;
}
nav ul li a:hover {
	background: #5e5e5e;
}
.myweb {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: #fff;
	font-size: 24px;
}
.greeting {
	position: absolute;
	left: 13%;
	top: 42%;
	transform: translate(-13%, -42%);
}
.greeting p {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
	color: #1a1a1a;
	font-size: 30px;
	margin: 45px 30px 25px;
}
.logo-uad {
	height: 150px;
	position: absolute;
	left: 60%;
	top: 35%;
}

/* MAIN */
.profile,
.skill {
	width: 80%;
	height: 330px;
	background: #ffffff;
	border-radius: 20px;
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
	display: flex;
	margin: -7% auto 20px auto;
	position: relative;
	justify-content: space-evenly;
	align-items: center;
}
.profile img {
	height: 250px;
}
.about-me {
	width: 500px;
}
.about-me p:nth-child(1) {
	color: #403e3e;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: bold;
	font-size: 23px;
	line-height: 0px;
}
.about-me p:nth-child(2),
.about-me p:nth-child(3) {
	color: #000;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 16px;
  word-spacing: 1px;
}

/* SKILL */
.skill p {
	padding-left: 8px;
	text-align: center;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
	color: #1a1a1a;
	font-size: 40px;
}
.skill-progress {
	padding-left: 20px;
	width: 600px;
	border-radius: 10px;
}
.skill-progress .bar {
	margin: 20px 0;
}
.skill-progress .bar:first-child {
	margin-top: 0px;
}
.skill-progress .bar .info {
	margin-bottom: 5px;
}
.skill-progress .bar .info span {
	font-weight: 500;
	font-size: 17px;
	opacity: 0;
	animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
	100% {
		opacity: 1;
	}
}
.skill-progress .bar .progress-line {
	height: 10px;
	width: 100%;
	background: #f0f0f0;
	position: relative;
	transform: scaleX(0);
	transform-origin: left;
	border-radius: 10px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.8);
	animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
@keyframes animate {
	100% {
		transform: scaleX(1);
	}
}
.bar .progress-line span {
	height: 100%;
	position: absolute;
	border-radius: 10px;
	transform: scaleX(0);
	transform-origin: left;
	background: rgb(136, 136, 136);
	animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
.bar .progress-line.websec span {
	width: 85%;
}
.bar .progress-line.html span {
	width: 80%;
}
.bar .progress-line.css span {
	width: 75%;
}
.bar .progress-line.c span {
	width: 50%;
}
.bar .progress-line.js span {
	width: 45%;
}
.progress-line span::before {
	position: absolute;
	content: "";
	top: -10px;
	right: 0;
	height: 0;
	width: 0;
	border: 7px solid transparent;
	border-bottom-width: 0px;
	border-right-width: 0px;
	border-top-color: #000;
	opacity: 0;
	animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line span::after {
	position: absolute;
	top: -28px;
	right: 0;
	font-weight: 500;
	background: #000;
	color: #fff;
	padding: 1px 8px;
	font-size: 12px;
	border-radius: 3px;
	opacity: 0;
	animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
	100% {
		opacity: 1;
	}
}
.progress-line.websec span::after {
	content: "85%";
}
.progress-line.html span::after {
	content: "80%";
}
.progress-line.css span::after {
	content: "75%";
}
.progress-line.c span::after {
	content: "50%";
}
.progress-line.js span::after {
	content: "45%";
}
.contact {
	width: 80%;
	height: 330px;
	background: #000;
	border-radius: 20px;
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 2);
	display: flex;
	margin: -7% auto 20px auto;
	position: relative;
	justify-content: space-evenly;
	align-items: center;
}
.contact .title p {
	color: #fff;
	text-align: center;
	padding-right: 2px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 30px;
}
.contact-form {
	display: flex;
}
.contact-fields {
	display: grid;
	flex-direction: column;
}
.contact-fields .input {
	margin: 10px 0;
	background: transparent;
	border: 10px;
	border-bottom: 1px solid #fff;
	padding-right: 150px;
	padding-bottom: 20px;
	color: #fff;
	width: 80%;
}
.contact-fields .btn {
	width: 20%;
	background: rgb(158, 158, 158);
	text-align: center;
	padding: 8px;
	border-radius: 8px;
	color: #000;
	cursor: pointer;
	text-transform: uppercase;
}

/* FOOTER */
footer {
	display: grid;
	height: 100px;
	width: 100%;
	place-items: center;
	background: #131419;
}
.wrapper .button {
	display: inline-block;
	height: 50px;
	width: 50px;
	background: #131419;
	margin: 0 5px;
	border-radius: 50px;
	overflow: hidden;
	cursor: pointer;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5) -3px -3px 7px rgba(255, 255, 255, 0.05);
	transition: all 0.3s ease-out;
}
.wrapper .button:hover {
	width: 150px;
}
.wrapper .button .icon {
	display: inline-block;
	height: 50px;
	width: 50px;
	text-align: center;
	background: #fff;
	border-radius: 50px;
	box-sizing: border-box;
	line-height: 60px;
	transition: all 0.3s ease-out;
}
.wrapper .button .icon i {
	font-size: 28px;
	line-height: 0px;
	transition: all 0.3s ease-out;
}
.wrapper .button a {
	text-align: center;
	font-size: 20px;
  text-decoration: none;
}
.wrapper .button:nth-child(1):hover .icon {
	background: #DD2A7B;
}
.wrapper .button:nth-child(2):hover .icon {
	background: #00acee;
}
.wrapper .button:nth-child(3):hover .icon {
	background: #1DA172;
}
.wrapper .button:nth-child(4):hover .icon {
	background: #333;
}
.wrapper .button:hover {
	color: #fff;
}
.wrapper .button:nth-child(1):hover a {
	color: #DD2A7B;
}
.wrapper .button:nth-child(2):hover a {
	color: #00acee;
}
.wrapper .button:nth-child(3):hover a {
	color: #1DA172;
}
.wrapper .button:nth-child(4):hover a {
	color: #333;
}