body{
    background: rgb(0, 0, 0);
}

.kiri{
    width: 60%;
    float: left;
}
.kanan{
    border-left: none;
    width: 40%;
    float: right;
    font-size: 20px;
}
.container{
    color: #fff;
    box-shadow: 10px rgb(0, 0, 0);
    background: rgb(82, 75, 78);
    margin: auto;
    margin-top: 120px;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 5px;
    width: 80%;
    height: 400px;
}
h2{
    text-align: center;
}
table{
    font-size: 20px;
}

input[type="text"], textarea{
    color: #fff;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    background: transparent;
    outline: none;
    font-size: 16px;
}

input[type="submit"]{
    width: 80px;
    background-color: #000000;
    border: none;
    height: 35px;
    border-radius: 3px;
    font-size: 16px;
    color: #fff;
}
table{
    color: #fff;
}
.error{
    color: rgb(255, 107, 107);
    font-size: 14px;
}