*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
}
body{
  height: 100vh;;
  width: 100%;
  display: flex;
  background-image: url("../Gambar/dark.jpg")
}

header{
  height: 85vh;
  width: 90%;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  z-index: 12;
  border-radius: 25px;
  margin: auto;
  position: relative;
}
header .navbar{
  margin: auto;
  width: 100%;
  padding: 35px 50px;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .kiri{
  float: left;
  width: 600px;
  height: 400px;
  padding-top: 30px;
  padding-left: 30px;
  color: #fff;
  font-size: 20px;
}
.kiri caption{
    font-size: 20px;
}
.form-border{
  background: -webkit-linear-gradient(right,#fff, #fff);
  height: 1px;
  width: 200px;
}
.form-content{
  color: white;
  background: transparent;
  border: none;
  outline: none;
}
header .kanan{
  float: right;
  width: 500px;
  height: 400px;
}

.navbar .logo a{
  text-decoration: none;
  font-size: 22px;
  color: #fff;
  font-weight: 500;
}

.kanan textarea{
  background-color:transparent;
  border-color: grey;
  color: white;
  font-size: 20px;
  padding-left: 20px;
  padding-top: 20px;
}