*{
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
}
body{
  height: 100vh;;
  width: 100%;
  display: flex;
  background: url("./../Gambar/xy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

header{
  height: 85vh;
  width: 50%;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  z-index: 12;
  border-radius: 25px;
  margin: auto;
  position: relative;
}
header .navbar{
  margin: auto;
  width: 100%;
  padding: 35px 50px;
  border-radius: 25px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
header .form{
  width: 600px;
  height: 400px;
  padding-left: 30px;
  color: #fff;
  font-size: 20px;
}


.form-content{
  color: white;
  background: transparent;
  border: none;
  outline: none;
  font-size: 18px;
  border: none;
	border-bottom: 1px solid #ddd;
}

.navbar .logo a{
  text-decoration: none;
  font-size: 22px;
  color: #fff;
  font-weight: 500;
  text-align: center;
}

input[type=button], input[type=reset]{
	text-align: center;
	border: none;
	outline: none;
	height: 40px;
	background: #525151;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	width: 35%;
	margin-bottom: 20px;
}
select{
  text-align: center;
	border: none;
	outline: none;
	height: 30px;
	background: #525151;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	width: 70%;
	margin-bottom: 20px;
}
.form a{
  font-size: 18px;
}